.hg
cmd/env/*
cmd\env\*
TestResults/*
*[Bb]in/
*[Dd]ebug/
*[Oo]bj/
*[Rr]elease/
*_[Rr]e[Ss]harper.*/
*.docstates
*.user
*.suo
*.xap
XCEViewer.sdf
XCEViewer.opensdf
[pP]ackages/
Durango/*
*Durango/*
ipch/*
XCEViewer/obj/*
XCEForwarder/Debug/*
XCEForwarder/Durango/*
__pycache__
*.pyc
*.suo
*.obj
BuildProcessTemplates
Code
CodeReviewer
Home
Malevich
mstsc
obj
remote
Template-Toolkit
Template-Toolkit-2.21-01
VSMacros80
cmd\env
cmd\private
env\Inrix
INRIX
LBS_Next
query
